@import '../variables';

.container{
  .ideaSection{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 96px;
    &__title{
      @include font900($darkFont-100);
      grid-column: 1 / 3;
      margin-bottom: 48px;
    }
    &__leftBar{
      @include elementFlex(column, flex-start, flex-start);
      grid-column: 1;
    }
    &__rightBar{
      @include elementFlex(column, flex-start, flex-start);
    }
    &__element{
      margin-bottom: 24px;
      @include elementFlex(column, flex-start, flex-start);
      &__title{
        @include font700($darkFont-100);
      }
      &__content{
        @include font500($darkFont-100);
      }
    }
    &__paragraph{
      @include font500($darkFont-100);
      width: 100%;
      margin-bottom: 36px;
    }
    &__list{
      list-style: none;
      margin-bottom: 30px;
      &__item{
        @include font700($darkFont-100);
        padding-bottom: 18px;
      }
    }
    &__author{
      @include font500($lightFont-30);
      margin-top: 12px;
    }
  }
}

@media(max-width: 786px){
  .container{
    padding: 96px 16px 48px 16px;
    .ideaSection{
      display: grid;
      grid-template-columns: 100%;
      column-gap: initial;
      row-gap: 48px;
      &__title{
        grid-column: initial;
      }
      &__leftBar{
        grid-column: initial;
      }
      &__rightBar{
        grid-column: initial;
      }
    }
  }
}