@import '../variables';
@import '../components/primaryArticle';

.container{
  .news{
    width: 100%;
    height: 300vh;
    display: flex;
    flex-flow: column wrap;
    align-content: space-between;
    .primaryArticle{
      width: 50%;
      margin-bottom: 48px;
      overflow: hidden;
    }
    .primaryArticle:nth-child(4n+1){
      order: 1;
      height: 360px;
    }
    .primaryArticle:nth-child(4n+2){
      order: 2;
      height: 490px;
    }
    .primaryArticle:nth-child(4n+3){
      order: 1;
      height: 490px;
    }
    .primaryArticle:nth-child(4n+4){
      order: 2;
      height: 360px;
    }
  }
}

@media(max-width: 786px){
  .container{
    .news{
      display: grid;
      height: auto;
      .primaryArticle{
        width: 100%;
        margin-bottom: 24px;
      }
      .primaryArticle:nth-child(4n+1),
      .primaryArticle:nth-child(4n+2),
      .primaryArticle:nth-child(4n+3),
      .primaryArticle:nth-child(4n+4){
        order: initial;
        height: auto;
      }
    }
  }
}