@import '../variables';
@import '../components/primaryArticle';

.container{
  .news{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-flow: column wrap;
    align-content: space-between;
    .linkWrapper{
      width: 50%;
      margin-bottom: 48px;
      overflow: hidden;
      .primaryArticle{
        width: 100%;
      }
    }
    .linkWrapper:nth-child(4n+1){
      order: 1;
      height: 360px;
      .primaryArticle.primaryArticle__picture{
        height: 360px;
      }
    }
    .linkWrapper:nth-child(4n+2){
      order: 2;
      height: 490px;
      .primaryArticle.primaryArticle__picture{
        height: 490px;
      }
    }
    .linkWrapper:nth-child(4n+3){
      order: 1;
      height: 490px;
      .primaryArticle.primaryArticle__picture{
        height: 490px;
      }
    }
    .linkWrapper:nth-child(4n+4){
      order: 2;
      height: 360px;
      .primaryArticle.primaryArticle__picture{
        height: 360px;
      }
    }
  }
}

@media(max-width: 786px){
  .container{
    .news{
      display: grid;
      height: auto;
      .linkWrapper{
        width: 100%;
        margin-bottom: 24px;
        .primaryArticle{
          width: 100%;
        }
      }
      .linkWrapper:nth-child(4n+1),
      .linkWrapper:nth-child(4n+2),
      .linkWrapper:nth-child(4n+3),
      .linkWrapper:nth-child(4n+4){
        order: initial;
        height: auto;
      }
    }
  }
}