@import '../variables';

.container{
  .partnersSection{
    width: 100%;
    margin-bottom: 96px;
    &__title{
      @include font900($darkFont-100);
      margin-bottom: 48px;
    }
    &__wrapper{
      @include elementFlex(row, flex-start, center);
      flex-wrap: nowrap;
    }
    &__logo{
      margin-right: 46px;
    }
  }
}

@media(max-width: 786px){
  .container{
    .partnersSection{
      width: 100%;
      margin-bottom: 96px;
      &__wrapper{
        @include elementFlex(column, flex-start, flex-start);
        flex-wrap: initial;
      }
      &__logo{
        margin: 0 0 48px 0;
      }
    }
  }
}