@import '../variables';

.footer{
  width: 100%;
  height: 100%;
  grid-row: 3;
  display: grid;
  grid-template-columns: 1fr 512px;
  grid-template-rows: 100%;
  font-size: 14px;
  font-weight: 700;
  position: relative;
  &__leftBar{
    width: 100%;
    height: 100%;
    background: url('../images/footer-background-lines.png') no-repeat;
    background-position: center;
    grid-column: 1;
    grid-row: 1;
    padding: 96px 0 0 120px;
    position: relative;
    .logo{
      position: absolute;
      left: 120px;
      bottom: 36px;
    }
  }
  &__rightBar{
    @include elementFlex(column, flex-end, flex-start);
    width: 100%;
    height: 100%;
    background: url('../images/footer-background-circle.png') no-repeat;
    background-position: center;
    grid-column: 2;
    grid-row: 1;
    position: relative;
    &::after{
      content: '';
      width: 120px;
      height: 104px;
      position: absolute;
      bottom: 0;
      right: 0;
      background: url('../images/footer-background-square.png') no-repeat;
      background-position: bottom right;
    }
  }
  &__title{
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 48px;
  }
  &__subtitle{
    margin-bottom: 30px;
    font-size: 14;
  }
  &__data{
    @include elementFlex(column, flex-start, flex-start);
    margin-bottom: 30px;
    &__line{
      font-size: 14px;
      line-height: 21px;
    }
  }
  &__wrapper{
    @include elementFlex(row, flex-start, flex-start);
    width: 100%;
    height: 104px;
    padding: 0 30px;
  }
  &__link{
    @include elementFlex(column, flex-start, flex-start);
    height: auto;
    padding: 24px 18px 0 18px;
    position: relative;
    font-size: 16px;
    font-weight: 500;
    color: $darkFont-100;
    text-decoration: none;
    &::after{
      content: '';
      width: 24px;
      height: 24px;
      background: url('../images/top-right-arrow.svg') no-repeat;
      position: absolute;
      bottom: -12px;
      left: -5px;
      transform: translateY(100%) translateX(100%);
    }
  }
  &__toTop{
    @include elementFlex(column, flex-start, center);
    position: absolute;
    height: 104px;
    padding: 0 0 0 0;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    .footer__link::after{
      background: url('../images/top-arrow.svg') no-repeat;
    }
  }
}