@import '../variables';
@import '../components/secondaryEvent';

.primaryEvent{
  @extend .secondaryEvent;
  width: 100%;
  height: 388px;
  &__picture{
    width: 100%;
    height: 388px;
    object-fit: cover;
  }
  &__container{
    @extend .primaryArticle__container;
    width: 100%;
    padding: 24px 24px 0 0;
  }
  &__date{
    @extend .primaryArticle__date;
  }
  &__title{
    @extend .primaryArticle__title;
    margin-bottom: 12px;
  }
  &__info{
    @include elementFlex(column, flex-start, flex-start);
    padding: 12px 24px 12px 0;
    &__title{
      font-size: 14px;
      font-weight: 700;
      line-height: 21px;
    }
    &__content{
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
    }
  }
  &__wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 24px;
  }
  &__button{
    @extend .primaryArticle__button;
    margin-top: 36px;
  }
}

@media(max-width: 786px){
  .primaryEvent{
    height: auto;
    max-width: none;
    margin-bottom: 36px;
    &__container{
      padding: 24px 0 0 0;
      width: 100%;
    }
    &__wrapper{
      @include elementFlex(column, flex-start, flex-start);
    }
  }
}