@import '../variables';

.primaryArticle{
  @include elementFlex(row, stretch, flex-start);
  &__picture{
    width: 224px;
  }
  &__container{
    flex-grow: 1;
    width: 364px;
    padding: 24px 0 0 24px;
  }
  &__date{
    font-size: 10px;
    font-weight: 900;
    color: $lightFont-30;
  }
  &__title{
    font-weight: 800;
    font-size: 20px;
    margin: 4px 0 24px 0;
  }
  &__fragment{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 48px;
    letter-spacing: 0.5px;
  }
  &__button{
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: none;
    font-size: 0px;
    color: transpatent;
    background-image: url('../images/blue-right-arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }
}

@media(max-width: 786px){
  .primaryArticle{
    @include elementFlex(column, flex-start, flex-start);
    width: 100%;
    height: auto;
    &__picture{
      width: 100%;
      max-height: 280px;
      object-fit: cover;
      object-position: top;
    }
    &__container{
      padding: 24px 0;
    }
  }
}