@import 'variables';
@import './components/archiveArticle';

.container{
  @include defaultContainer;
  padding: 72px 120px 150px 120px;
  &__header{
    @include elementFlex(row, flex-start, center);
    width: 100%;
  }
  &__title{
    @include mainTitle;
    margin-bottom: 48px;
  }
  &__years{
    width: 100%;
    &__list{
      @include elementFlex(row, flex-start, center);
      width: 100%;
      list-style: none;
    }
    &__item{
      font-size: 16px;
      font-weight: 500;
      margin-right: 36px;
    }
    &__link{
      text-decoration: none;
      color: $darkFont-100;
    }
    .item--active{
      .container__years__link{
        color: $colorPrimary-100;
      }
    }
  }
  .category{
    @include elementFlex(column, flex-start, flex-start);
    width: 100%;
    margin-top: 96px;
    &__title{
      font-size: 20px;
      font-weight: 800;
      margin-bottom: 45px;
    }
    &__wrapper{
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      row-gap: 48px;
      column-gap: 48px;
    }
  }
}