@import 'variables';

.container{
  @include defaultContainer;
  padding: 96px 0 0 0;
  @include elementFlex(column, flex-start, flex-start);
  &__header{
    @include elementFlex(row, flex-start, center);
    width: 100%;
    padding: 0 120px;
  }
  &__title{
    @include mainTitle;
    margin-bottom: 48px;
  }
  .bioSection{
    width: 100%;
    @include elementFlex(column, flex-start, flex-start);
    padding: 48px 120px;
    &__title{
      font-weight: 900;
      font-size: 24px;
      line-height: 36px;
      margin-bottom: 48px;
    }
    &__element{
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      padding-bottom: 96px;
      &__title{
        font-size: 14px;
        line-height: 21px;
        font-weight: 700;
      }
      &__content{
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
      }
    }
    &:nth-of-type(odd){
      background: $lightBgc-90;
    }
    &:nth-of-type(even){
      background: $darkBgc-100;
      color: $lightFont-100;
    }
    &:last-child{
      padding-bottom: 0px;
    }
  }
}

@media(max-width:786px){
  .container{
    &__header{
      padding: 0 16px;
    }
    .bioSection{
      padding: 48px 16px;
      &__element{
        grid-template-columns: 100%;
        row-gap: 48px;
        column-gap: initial;
      }
    }
  }
}