@import 'variables';

.crewContainer{
  @include defaultContainer;
  @include elementFlex(column, flex-start, center);
  padding: 72px 120px 48px 120px;
  .crew{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 96px;
    &__header{
      grid-column: 1 / 3;
      margin-bottom: 48px;
    }
    &__title{
      @include mainTitle;
    }
    &__leftBar{
      @include elementFlex(column, flex-start, flex-start);
      width: 100%;
    }
    &__rightBar{
      @include elementFlex(column, flex-start, flex-end);
    }
    &__photo{
      margin-bottom: 48px;
    }
    &__element{
      width: 100%;
      @include elementFlex(column, flex-start, flex-start);
      margin-bottom: 24px;
    }
    &__name{
      font-size: 14px;
      line-height: 21px;
      font-weight: 700;
    }
    &__content{
      font-size: 16px;
      line-height: 24px;
      font-weight: 500;
    }
  }
}

@media (max-width: 786px){
  .crewContainer{
    padding: 72px 16px 48px 16px;
    .crew{
      grid-template-columns: 100%;
      &__rightBar{
        display: none;
      }
    }
  }
}