@import 'variables';
@import 'archiveDetails';

.eventDetailsContainer{
  @include defaultContainer;
  .details{
    .main--element{
      grid-column: 1 / 3;
    }
    &__title{
      @include font900($darkFont-100);
    }
    &__date{
      font-size: 10px;
      line-height: 15px;
      color: $darkFont-100;
      opacity: 0.4;
      font-weight: 900;
    }
    &__text{
      margin-bottom: 48px;
    }
    &__leftBar{
      justify-content: stretch;
    }
    &__element.element--link{
      flex-grow: 1;
      justify-content: flex-end;
    }
    &__element{
      &__link{
        @include font500($darkFont-100);
        text-decoration: none;
        position: relative;
        &::after{
          content: '';
          width: 24px;
          height: 24px;
          background: url('../images/top-right-arrow.svg') no-repeat;
          background-position: center;
          position: absolute;
          right: -4px;
          top: 50%;
          transform: translateX(100%) translateY(-50%);
        }
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }
  .partners{
    width: 100%;
    &__wrapper{
      width: 100%;
      @include elementFlex(row, flex-start, flex-start);
    }
    &__logo{
      margin-right: 36px;
    }
  }
  .gallery{
    margin-bottom: 108px;
    &__wrapper{
      column-count: 2;
      column-gap: 24px;
      a{
        margin: 0;
        display: grid;
        grid-template-rows: 1fr auto;
        margin-bottom: 10px;
        break-inside: avoid;
        margin-bottom: 24px;
        img{
          width: 100%;
        }
      }
    }
    &__pictures{
      max-width: 100%;
      display: block;
      grid-row: 1 / -1;
      grid-column: 1;
      
    }
  }

}

@media (max-width: 786px){
  .eventDetailsContainer{
    .partners{
      &__wrapper{
        flex-direction: column;
      }
      &__logo{
        margin-bottom: 36px;
      }
    }
    .gallery{
      &__wrapper{
        @include elementFlex(column, flex-start, flex-start);
      }
    }
    .details{
      @include elementFlex(column, flex-start, flex-start);
    }
  }
}