.mainHeader {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mainHeader__nav {
  position: absolute;
  top: 112px;
  left: 0;
  background-color: #FFCD4C;
  width: 324px;
  height: calc(100vh - 112px);
  padding: 84px 0 0 96px;
}

.mainHeader__list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #161616;
}

.mainHeader__item {
  width: 100%;
  position: initial;
  padding: 15.5px 0 11.5px 24px;
  line-height: 21px;
}

.mainHeader__item__title::after {
  -webkit-transform: translateX(100%) translateY(-50%) rotateZ(-90deg);
          transform: translateX(100%) translateY(-50%) rotateZ(-90deg);
  background-image: url(../images/small-arrow-black.svg);
  right: 0;
}

.mainHeader__submenu {
  right: 0;
  top: 0;
  z-index: 100;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  padding: 84px 0 0 0;
}

.mainHeader__submenu__item {
  padding: 15.5px 0 11.5px 24px;
}

.mainHeader__item:hover {
  background: #161616;
  color: #F5F5F5;
}

.mainHeader__item:hover .mainHeader__item__title::after {
  background-image: url(../images/small-arrow-white.svg);
  -webkit-transform: translateX(500%) translateY(-50%) rotateZ(-90deg);
          transform: translateX(500%) translateY(-50%) rotateZ(-90deg);
}

.container {
  width: 100%;
  min-height: 100vh;
  -ms-grid-row: 2;
  grid-row: 2;
}

.container .topSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(100% - 444px);
  height: calc(100vh - 112px);
  margin: 0 120px 0 324px;
  background: url(../images/footer-background-lines.svg) no-repeat;
  background-position: center;
  background-color: #EBEBEB;
  position: relative;
}

.container .topSection::after {
  content: '';
  width: 120px;
  height: 164px;
  position: absolute;
  right: 0;
  bottom: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  background: #161616;
}

.container .topSection__banner {
  width: 792px;
  height: 512px;
}

.container .newsSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 100vh;
  padding: 96px 120px 120px 120px;
}

.container .newsSection__header, .container .programSection__header, .container .archivesSection__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0 0 48px 0;
}

.container .newsSection__title, .container .programSection__title, .container .archivesSection__title {
  font-size: 36px;
  font-weight: 900;
}

.container .newsSection__viewAll, .container .programSection__viewAll, .container .archivesSection__viewAll {
  color: #3185FC;
  font-size: 16px;
  font-weight: 900;
  text-decoration: none;
  cursor: pointer;
}

.container .newsSection__wrapper {
  width: 100%;
  min-height: 80vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 72px;
          column-gap: 72px;
}

.container .newsSection__mainArticle, .container .newsSection__articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-grid-column: 1;
  grid-column: 1;
  width: 100%;
  height: 100%;
}

.container .newsSection__articles {
  -ms-grid-column: 2;
  grid-column: 2;
}

.container .programSection {
  width: 100%;
  min-height: 100vh;
  padding: 96px 0 120px 120px;
  background-color: #161616;
  margin-top: 144px;
  position: relative;
  color: #F5F5F5;
}

.container .programSection .owl-prev,
.container .programSection .owl-next {
  visibility: hidden;
}

.container .programSection::after {
  content: '';
  width: 100%;
  height: 96px;
  position: absolute;
  background: #FFCD4C;
  top: 0;
  left: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.container .programSection::before {
  content: '';
  width: 120px;
  height: 48px;
  position: absolute;
  top: -96px;
  left: 0;
  background: #161616;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.container .programSection__header {
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  padding: 0 120px 48px 0px;
}

.container .programSection__header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .programSection__header__button {
  width: 24px;
  height: 24px;
  border-style: none;
  background-color: transparent;
  border: none;
  outline: none;
}

.container .programSection__header .button--next {
  background: url("../images/arrow_forward.svg") no-repeat;
  background-position: center;
  margin-left: 12px;
}

.container .programSection__header .button--prev {
  background: url("../images/arrow_back.svg") no-repeat;
  background-position: center;
  margin-right: 12px;
}

.container .programSection__title {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.container .programSection__viewAll {
  margin-right: 36px;
}

.container .archivesSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 100vh;
  padding: 96px 120px 120px 120px;
  position: relative;
}

.container .archivesSection::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 96px;
  background-color: #EBEBEB;
}

.container .archivesSection__header {
  padding-bottom: 51px;
}

.container .archivesSection__item {
  width: 100%;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #161616;
  padding-bottom: 24px;
  margin-bottom: 28px;
}

.container .archivesSection__item__content {
  font-size: 14px;
  font-weight: 700;
}
/*# sourceMappingURL=HomePage.css.map */