@import 'variables';
@import './components/homePageMenu';

.container{
  @include defaultContainer;
  .topSection{
    @include elementFlex(row, center, center);
    width: calc(100% - 444px);
    height: calc(100vh - 112px);
    margin: 0 120px 0 324px;
    background: url(../images/footer-background-lines.svg) no-repeat;
    background-position: center;
    background-color: $lightBgc-90;
    position: relative;
    &::after{
      content: '';
      width: 120px;
      height: 164px;
      position: absolute;
      right: 0;
      bottom: 0;
      transform: translateX(100%);
      background: $darkBgc-100;
    }
    &__banner{
      width: 792px;
      height: 512px;
    }
  }
  .newsSection{
    @include elementFlex(column, flex-start, center);
    width: 100%;
    min-height: 100vh;
    padding: 96px 120px 120px 120px;
    &__header{
      @include elementFlex(row, space-between, center);
      width: 100%;
      padding: 0 0 48px 0;  
    }
    &__title{
      font-size: 36px;
      font-weight: 900;
      color: $darkFont-100;
    }
    &__viewAll{
      color: $colorPrimary-100;
      font-size: 16px;
      font-weight: 900;
      text-decoration: none;
      cursor: pointer;
    }
    &__wrapper{
      width: 100%;
      min-height: 80vh;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 72px;
    }
    &__mainArticle{
      @include elementFlex(column, flex-start, flex-start);
      grid-column: 1;
      width: 100%;
      height: 100%;
    }
    &__articles{
      @extend .newsSection__mainArticle;
      grid-column: 2;

    }
  }
  .programSection{
    width: 100%;
    min-height: 100vh;
    padding: 96px 0 120px 120px;
    background-color: $darkBgc-100;
    margin-top: 144px;
    position: relative;
    color: $lightFont-100;
    &__title{
      color: $lightFont-100;
    }
    .owl-prev,
    .owl-next{
      visibility: hidden;
    }
    &::after{
      content: '';
      width: 100%;
      height: 96px;
      position: absolute;
      background: $mainYellow;
      top: 0;
      left: 0;
      transform: translateY(-100%);
    }
    &::before{
      content: '';
      width: 120px;
      height: 48px;
      position: absolute;
      top: -96px;
      left: 0;
      background: $darkBgc-100;
      transform: translateY(-100%);
    }
    &__header{
      @extend .newsSection__header;
      justify-content: stretch;
      padding: 0 120px 48px 0px;
      &__buttons{
        @include elementFlex(row, center, center);
      }
      &__button{
        width: 24px;
        height: 24px;
        border-style: none;
        background-color: transparent;
        border: none;
        outline: none;
      }
      .button--next{
        background: url('../images/arrow_forward.svg') no-repeat;
        background-position: center;
        margin-left: 12px;
      }
      .button--prev{
        background: url('../images/arrow_back.svg') no-repeat;
        background-position: center;
        margin-right: 12px;
      }
    }
    &__title{
      @extend .newsSection__title;
      flex-grow: 1;
    }
    &__viewAll{
      @extend .newsSection__viewAll;
      margin-right: 36px;
    }
  }
  .archivesSection{
    @include elementFlex(column, flex-start, center);
    width: 100%;
    padding: 96px 120px;
    &__header{
      @extend .newsSection__header;
      padding-bottom: 51px;
    }
    &__title{
      @extend .newsSection__title;
    }
    &__viewAll{
      @extend .newsSection__viewAll;
    }
    &__item{
      width: 100%;
      cursor: pointer;
      @include elementFlex(row, space-between, center);
      padding-bottom: 24px;
      padding: 12px 12px 36px 12px;
      margin-bottom: 28px;
      position: relative;
      &:after{
        content: '';
        width: calc(100% - 24px);
        height: 1px;
        background: $darkBgc-100;
        position: absolute;
        bottom: 12px;
        left: 50%;
        transform: translateX(-50%);
      }
      &__content{
        font-size: 14px;
        font-weight: 700;
        position: relative;
        &.content--title::after{
          content: '';
          width: 24px;
          height: 24px;
          position: absolute;
          right: -12px;
          top: 50%;
          transform: translateX(100%) translateY(-50%);
          background-image: url(../images/blue-right-arrow.svg);
          background-repeat: no-repeat;
          background-position: center;
          visibility: hidden;
        }
      }
      &:hover{
        background-color: $lightBgc-90;
        .archivesSection__item__content::after{
          visibility: visible;
        }
      }
      &:active{
        background-color: $lightBgc-70;
        .archivesSection__item__content::after{
          visibility: visible;
        }
      }
    }
  }
}