@import 'variables';

.container{
  @include defaultContainer;
  padding: 96px 120px 48px 120px;
  &__header{
    @include elementFlex(row, flex-start, center);
    width: 100%;
  }
  &__title{
    @include mainTitle;
    margin-bottom: 48px;
  }
  .ideaSection{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 96px;
    &__title{
      @include font900($darkFont-100);
      grid-column: 1 / 3;
      margin-bottom: 48px;
    }
    &__leftBar{
      @include elementFlex(column, flex-start, flex-start);
      grid-column: 1;
    }
    &__rightBar{
      @include elementFlex(column, flex-start, flex-start);
    }
    &__element{
      margin-bottom: 24px;
      @include elementFlex(column, flex-start, flex-start);
      &__title{
        @include font700($darkFont-100);
      }
      &__content{
        @include font500($darkFont-100);
      }
    }
    &__paragraph{
      @include font500($darkFont-100);
      width: 100%;
      margin-bottom: 36px;
    }
    &__list{
      list-style: none;
      margin-bottom: 30px;
      &__item{
        @include font700($darkFont-100);
        padding-bottom: 18px;
      }
    }
    &__author{
      @include font500($lightFont-30);
      margin-top: 12px;
    }
  }
}