@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@500;700;800;900&family=Exo:wght@800;900&display=swap');
@import 'variables';
@import 'reset';
@import './components/mainHeader';
@import './components/footer';
@import './components/buttons';

body{
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 112px 1fr 712px;
  background-color: #f5f5f5;
  overflow-x: hidden;
}

.container{
  @include elementFlex(column, flex-start, flex-start);
  width: 100%;
  min-height: 50vh;
  grid-row: 2;
  max-width: 1200px;
  margin: 96px auto;
  &__header{
    @include elementFlex(row, flex-start, center);
    width: 100%;
  }
  &__title{
    @include mainTitle;
    margin-bottom: 48px;
  }
}

.logo{
  width: 40px;
  height: 80px;
  filter: invert(100%) brightness(105%);
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

@media(max-width: 786px){
  body{
    overflow-x: hidden;
    grid-template-rows: 112px 1fr auto;
  }
  .container{
    max-width: initial;
    padding: 48px 16px;
  }
}

@import './pages/archive';
@import './pages/archiveDetails';
@import './pages/bio';
@import './pages/contact';
@import './pages/crew';
@import './pages/eventDetails';
@import './pages/idea';
@import './pages/news';
@import './pages/organizer';
@import './pages/partners';
@import './pages/program';