@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@500;700;800;900&family=Exo:wght@800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Exo 2', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mainHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  height: 112px;
  background-color: #161616;
  padding: 0 45px 0 120px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  color: #F5F5F5;
}

.mainHeader .logo path {
  fill: #c4c4c4;
}

.mainHeader__language {
  font-weight: 900;
  font-size: 14px;
  color: #F5F5F5;
  background: transparent;
  border: none;
  font-family: 'Exo', sans-serif;
  text-decoration: underline;
}

.mainHeader__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -ms-grid-row: 1;
  grid-row: 1;
}

.mainHeader__wrapper .button {
  width: 198px;
  height: 112px;
}

.mainHeader__nav {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0 36px;
}

.mainHeader__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  height: 112px;
}

.mainHeader__item {
  font-size: 14px;
  font-weight: 700;
  height: 74px;
  margin-top: auto;
  padding: 13px 12px 40px 12px;
  cursor: pointer;
  position: relative;
}

.mainHeader__item__title {
  position: relative;
  margin-right: 24px;
}

.mainHeader__item__title::after {
  content: '';
  width: 24px;
  height: 24px;
  background-image: url(../images/small-arrow-white.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateX(100%) translateY(50%);
          transform: translateX(100%) translateY(50%);
}

.mainHeader__submenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: none;
  list-style: none;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  background: #161616;
  width: 324px;
  color: #F5F5F5;
}

.mainHeader__submenu__item {
  font-weight: 700;
  font-size: 14px;
  padding: 12px 24px;
  width: 100%;
  text-align: left;
}

.mainHeader__submenu__item:hover {
  background-color: #FFCD4C;
  color: #161616;
}

.mainHeader__item:hover {
  background: #FFCD4C;
  color: #161616;
}

.mainHeader__item:hover .mainHeader__submenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mainHeader__item:hover .mainHeader__item__title::after {
  background-image: url(../images/small-arrow-black.svg);
}

.footer {
  width: 100%;
  height: 100%;
  -ms-grid-row: 3;
  grid-row: 3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 512px;
      grid-template-columns: 1fr 512px;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
  font-size: 14px;
  font-weight: 700;
  position: relative;
}

.footer__leftBar {
  width: 100%;
  height: 100%;
  background: url("../images/footer-background-lines.svg") no-repeat;
  background-position: center;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
  padding: 96px 0 0 120px;
  position: relative;
}

.footer__leftBar .logo {
  position: absolute;
  left: 120px;
  bottom: 36px;
}

.footer__rightBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  height: 100%;
  background: url("../images/footer-background-circle.svg") no-repeat;
  background-position: center;
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  grid-row: 1;
  position: relative;
}

.footer__rightBar::after {
  content: '';
  width: 120px;
  height: 104px;
  position: absolute;
  bottom: 0;
  right: 0;
  background: url("../images/footer-background-square.svg") no-repeat;
  background-position: bottom right;
}

.footer__title {
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 48px;
}

.footer__subtitle {
  margin-bottom: 30px;
  font-size: 14;
}

.footer__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 30px;
}

.footer__data__line {
  font-size: 14px;
  line-height: 21px;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  height: 104px;
  padding: 0 30px;
}

.footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: auto;
  padding: 24px 18px 0 18px;
  position: relative;
  font-size: 16px;
  font-weight: 500;
  color: #161616;
  text-decoration: none;
}

.footer__link::after {
  content: '';
  width: 24px;
  height: 24px;
  background: url("../images/top-right-arrow.svg") no-repeat;
  position: absolute;
  bottom: -12px;
  left: -5px;
  -webkit-transform: translateY(100%) translateX(100%);
          transform: translateY(100%) translateX(100%);
}

.footer__toTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  height: 104px;
  padding: 0 0 0 0;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.footer__toTop .footer__link::after {
  background: url("../images/top-arrow.svg") no-repeat;
}

.button {
  padding: 12px 36px;
  font-size: 16px;
  font-weight: 900;
  border: none;
  font-family: 'Exo', sans-serif;
}

.button.button--primary {
  background: #3185FC;
  color: #F5F5F5;
}

.button.button--primary:hover {
  background: #0364EC;
}

.button.button--primary:active {
  background: #034AB0;
}

.button.button--primary:disabled {
  background: #B0B0B0;
  color: #7A7A7A;
}

.button.button--primary:focus {
  background: #0364EC;
}

.button.button--secondary {
  background: #161616;
  color: #F5F5F5;
}

.button.button--secondary:hover {
  background: #545454;
}

.button.button--secondary:active {
  background: #B0B0B0;
}

.button.button--secondary:disabled {
  background: #B0B0B0;
  color: #7A7A7A;
}

.button.button--secondary:focus {
  background: #545454;
}

.button.button--ghost {
  background: transparent;
  color: #3185FC;
}

.button.button--ghost:hover {
  background: #EBEBEB;
}

.button.button--ghost:active {
  background: #CCCCCC;
}

.button.button--ghost:disabled {
  background: #B0B0B0;
  color: #7A7A7A;
}

.button.button--ghost:focus {
  background: #EBEBEB;
}

.primaryArticle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.primaryArticle__picture {
  width: 224px;
}

.primaryArticle__container, .secondaryEvent__container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 364px;
  padding: 24px 0 0 24px;
}

.primaryArticle__date, .secondaryArticle__date, .secondaryEvent__date {
  font-size: 10px;
  font-weight: 900;
  color: #7A7A7A;
}

.primaryArticle__title, .secondaryArticle__title, .secondaryEvent__title {
  font-weight: 800;
  font-size: 20px;
  margin: 4px 0 24px 0;
}

.primaryArticle__fragment, .secondaryArticle__fragment {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 48px;
  letter-spacing: 0.5px;
}

.primaryArticle__button, .secondaryArticle__button, .secondaryEvent__button {
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
  font-size: 0px;
  color: transpatent;
  background-image: url("../images/blue-right-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.primaryArticle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.primaryArticle__picture {
  width: 224px;
}

.primaryArticle__container, .secondaryEvent__container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 364px;
  padding: 24px 0 0 24px;
}

.primaryArticle__date, .secondaryArticle__date, .secondaryEvent__date {
  font-size: 10px;
  font-weight: 900;
  color: #7A7A7A;
}

.primaryArticle__title, .secondaryArticle__title, .secondaryEvent__title {
  font-weight: 800;
  font-size: 20px;
  margin: 4px 0 24px 0;
}

.primaryArticle__fragment, .secondaryArticle__fragment {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 48px;
  letter-spacing: 0.5px;
}

.primaryArticle__button, .secondaryArticle__button, .secondaryEvent__button {
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
  font-size: 0px;
  color: transpatent;
  background-image: url("../images/blue-right-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.secondaryArticle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 24px 0 54px 0;
}

.primaryArticle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.primaryArticle__picture {
  width: 224px;
}

.primaryArticle__container, .secondaryEvent__container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 364px;
  padding: 24px 0 0 24px;
}

.primaryArticle__date, .secondaryArticle__date, .secondaryEvent__date {
  font-size: 10px;
  font-weight: 900;
  color: #7A7A7A;
}

.primaryArticle__title, .secondaryArticle__title, .secondaryEvent__title {
  font-weight: 800;
  font-size: 20px;
  margin: 4px 0 24px 0;
}

.primaryArticle__fragment, .secondaryArticle__fragment {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 48px;
  letter-spacing: 0.5px;
}

.primaryArticle__button, .secondaryArticle__button, .secondaryEvent__button {
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
  font-size: 0px;
  color: transpatent;
  background-image: url("../images/blue-right-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.secondaryEvent {
  width: 608px;
  height: 418px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 24px;
          column-gap: 24px;
  column-gap: 24px;
}

.secondaryEvent__picture {
  width: 282px;
  height: 188px;
}

.secondaryEvent__date {
  color: #F5F5F5;
}

.secondaryEvent__title {
  margin-bottom: 12px;
}

.secondaryEvent__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 12px 0;
}

.secondaryEvent__info__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  color: #F5F5F5;
}

.secondaryEvent__info__content {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #F5F5F5;
}

.secondaryEvent__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.secondaryEvent__wrapper .secondaryEvent__info:nth-of-type(2) {
  margin-left: 72px;
}

.secondaryEvent__button {
  margin-top: 36px;
}

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: 112px 1fr 712px;
      grid-template-rows: 112px 1fr 712px;
  background-color: #f5f5f5;
}

.container {
  width: 100%;
  min-height: 100vh;
}
/*# sourceMappingURL=index.css.map */