.organizerContainer {
  width: 100%;
  min-height: 100vh;
  -ms-grid-row: 2;
  grid-row: 2;
  padding: 72px 120px 0 120px;
}

.organizerContainer__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.organizerContainer__title {
  font-size: 36px;
  font-weight: 900;
  color: #161616;
}

.organizerContainer__wrapper {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  row-gap: 57px;
  margin-bottom: 57px;
}

.organizerContainer .organizer {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  padding: 48px 0;
}

.organizerContainer .organizer__leftBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.organizerContainer .organizer__name {
  font-weight: 900;
  font-size: 24px;
  color: #161616;
}

.organizerContainer .organizer__logo {
  margin-top: 48px;
  background-color: transparent;
}

.organizerContainer .organizer__rightBar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.organizerContainer .organizer__paragraph, .organizerContainer .organizer__list__title {
  width: 100%;
  text-align: left;
  font-size: 16px;
  font-weight: 500;
  color: #161616;
  line-height: 24px;
  margin-bottom: 24px;
}

.organizerContainer .organizer__list {
  -webkit-transform: translateX(24px);
          transform: translateX(24px);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.organizerContainer .organizer__list__title {
  margin-bottom: 6px;
}

@media (max-width: 786px) {
  .organizerContainer {
    padding: 72px 16px 0 16px;
    overflow-x: hidden;
  }
  .organizerContainer .organizer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .organizerContainer .organizer__list {
    width: calc(100% - 24px);
  }
  .organizerContainer .organizer__logo {
    margin-bottom: 48px;
  }
}
/*# sourceMappingURL=organizer.css.map */