@import 'variables';

.organizerContainer{
  @include defaultContainer;
  padding: 72px 120px 0 120px;
  &__header{
    @include elementFlex(row, flex-start, center);
    width: 100%;
  }
  &__title{
    @include mainTitle;
  }
  &__wrapper{
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    row-gap: 57px;
    margin-bottom: 57px;
  }
  .organizer{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 48px 0;
    &__leftBar{
      @include elementFlex(column, flex-start, flex-start);
    }
    &__name{
      font-weight: 900;
      font-size: 24px;
      color: $darkFont-100;
    }
    &__logo{
      margin-top: 48px;
      background-color: transparent;
    }
    &__rightBar{
      width: 100%;
      @include elementFlex(column, flex-start, flex-start);
    }
    &__paragraph{
      width: 100%;
      text-align: left;
      font-size: 16px;
      font-weight: 500;
      color: $darkFont-100;
      line-height: 24px;
      margin-bottom: 24px;
    }
    &__list{
      transform: translateX(24px);
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      &__title{
        @extend .organizer__paragraph;
        margin-bottom: 6px;
      }
    }
  }
}

@media(max-width: 786px){
  .organizerContainer{
    padding: 72px 16px 0 16px;
    overflow-x: hidden;
    .organizer{
      @include elementFlex(column, flex-start, flex-start);
      &__list{
        width: calc(100% - 24px);
      }
      &__logo{
        margin-bottom: 48px;
      }
    }
  }
}