@import 'variables';

.partnersContainer{
  @include defaultContainer;
  @include elementFlex(column, flex-start, flex-start);
  padding: 96px 120px 0 120px;
  &__header{
    @include elementFlex(row, flex-start, center);
    width: 100%;
  }
  &__title{
    @include mainTitle;
    margin-bottom: 48px;
  }
  .partnersSection{
    width: 100%;
    margin-bottom: 96px;
    &__title{
      @include font900($darkFont-100);
      margin-bottom: 48px;
    }
    &__wrapper{
      @include elementFlex(row, flex-start, center);
      flex-wrap: nowrap;
    }
    &__logo{
      margin-right: 46px;
    }
  }
}

@media(max-width: 786px){
  .partnersContainer{
    padding: 96px 16px 0 16px;
    .partnersSection{
      width: 100%;
      margin-bottom: 96px;
      &__wrapper{
        @include elementFlex(column, flex-start, flex-start);
        flex-wrap: initial;
      }
      &__logo{
        margin: 0 0 48px 0;
      }
    }
  }
}