@import 'variables';
@import './components/primaryEvent';

.programContainer{
  @include defaultContainer;
  padding: 96px 120px;
  &__header{
    @include elementFlex(row, flex-start, center);
    width: 100%;
  }
  &__title{
    @include mainTitle;
    margin-bottom: 48px;
  }
  &__wrapper{
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    row-gap: 57px;
    margin-bottom: 57px;
  }
}

@media(max-width: 786px){
  .programContainer{
    padding: 96px 16px;
    &__wrapper{
      @include elementFlex(column, flex-start, flex-start);
    }
  }
}