.primaryArticle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.primaryArticle__picture {
  width: 224px;
}

.primaryArticle__container, .secondaryEvent__container, .primaryEvent__container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 364px;
  padding: 24px 0 0 24px;
}

.primaryArticle__date, .secondaryEvent__date, .primaryEvent__date {
  font-size: 10px;
  font-weight: 900;
  color: #7A7A7A;
}

.primaryArticle__title, .secondaryEvent__title, .primaryEvent__title {
  font-weight: 800;
  font-size: 20px;
  margin: 4px 0 24px 0;
}

.primaryArticle__fragment {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 48px;
  letter-spacing: 0.5px;
}

.primaryArticle__button, .secondaryEvent__button, .primaryEvent__button {
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
  font-size: 0px;
  color: transpatent;
  background-image: url("../images/blue-right-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  -webkit-transition: width .2s, -webkit-transform .3s ease-in-out;
  transition: width .2s, -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out, width .2s;
  transition: transform .3s ease-in-out, width .2s, -webkit-transform .3s ease-in-out;
}

.primaryArticle__button:hover, .secondaryEvent__button:hover, .primaryEvent__button:hover {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
  width: 40px;
}

@media (max-width: 786px) {
  .primaryArticle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
    height: auto;
  }
  .primaryArticle__picture {
    width: 100%;
    max-height: 280px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: top;
       object-position: top;
  }
  .primaryArticle__container, .secondaryEvent__container, .primaryEvent__container {
    padding: 24px 0;
  }
  .primaryArticle__button:hover, .secondaryEvent__button:hover, .primaryEvent__button:hover {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    width: 24px;
  }
}

.secondaryEvent, .primaryEvent {
  width: 608px;
  height: 418px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 24px;
          column-gap: 24px;
  column-gap: 24px;
}

.secondaryEvent__picture {
  width: 282px;
  height: 188px;
}

.secondaryEvent__date {
  color: #F5F5F5;
}

.secondaryEvent__title {
  margin-bottom: 12px;
}

.secondaryEvent__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 12px 0;
}

.secondaryEvent__info__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  color: #F5F5F5;
}

.secondaryEvent__info__content {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #F5F5F5;
}

.secondaryEvent__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.secondaryEvent__wrapper .secondaryEvent__info:nth-of-type(2) {
  margin-left: 72px;
}

.secondaryEvent__button {
  margin-top: 36px;
}

@media (max-width: 786px) {
  .secondaryEvent, .primaryEvent {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    max-width: 280px;
    min-height: 610px;
  }
}

.primaryEvent {
  width: 100%;
  height: 388px;
}

.primaryEvent__picture {
  width: 100%;
  height: 388px;
  -o-object-fit: cover;
     object-fit: cover;
}

.primaryEvent__container {
  width: 100%;
  padding: 24px 24px 0 0;
}

.primaryEvent__title {
  margin-bottom: 12px;
}

.primaryEvent__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 12px 24px 12px 0;
}

.primaryEvent__info__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
}

.primaryEvent__info__content {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.primaryEvent__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 24px;
          column-gap: 24px;
}

.primaryEvent__button {
  margin-top: 36px;
}

@media (max-width: 786px) {
  .primaryEvent {
    height: auto;
    max-width: none;
    margin-bottom: 36px;
  }
  .primaryEvent__container {
    padding: 24px 0 0 0;
    width: 100%;
  }
  .primaryEvent__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.container {
  width: 100%;
  min-height: 100vh;
  -ms-grid-row: 2;
  grid-row: 2;
  padding: 96px 120px;
}

.container__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.container__title {
  font-size: 36px;
  font-weight: 900;
  color: #161616;
  margin-bottom: 48px;
}

.container__wrapper {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  row-gap: 57px;
  margin-bottom: 57px;
}

@media (max-width: 786px) {
  .container {
    padding: 96px 16px;
  }
  .container__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
/*# sourceMappingURL=program.css.map */